/* ==========background Images=============== */
.background-2{
    background: url('../images/new-background-1.jpg');
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-color: #333333;
  }
  
  .background-3{
    background: url('../images/black-background.jpg');
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-color: #171717;
  }
  
  .background-4{
    background: url('../images/black-back-ground22.jpg');
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-color: #333333;
  }
  
  .background-5{
    /* background: url('../images/Afghani-Pulao.jpg'); */
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-color: #171717; 
  }

  .background-6 {
    background: url('../images/back-ground-1a.jpg');
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
    
  }
  
  /* ==========background Images=============== */
  .date-discription{
    font-size: 15px !important;
  }

  .tile h1 {
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    transform: translateY(75px);
    transition-delay: 0.2s;
    opacity: 1 !important;
    
}

.tile h2{
  font-size: 15px;
    line-height: 24px;
    font-weight: 100;
    margin: 0 0 0 0;
    font-style: italic;
    text-align: center;
    transform: translateY(75px);
    transition-delay: 0.2s;
    opacity: 1 !important;
}
    cursor:auto;
  }
