/* ==========background Images=============== */
.background-2{
    background: url('../images/new-background-1.jpg');
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-color: #333333;
  }
  
  .background-3{
    /* background: url('../images/Master.jpg'); */
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-color: #171717;
  }
  
  .background-4{
    /* background: url('../images/img1.jpg'); */
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-color: #333333;
  }
  
  .background-5{
    /* background: url('../images/Afghani-Pulao.jpg'); */
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-color: #171717; 
  }

  .background-6 {
    background: url('../images/back-ground-1a.jpg');
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: initial;
    background-repeat: no-repeat;
    
  }
  
  /* ==========background Images=============== */
  